body {
    margin: 0px;
}

#header {
    width: 100%;
    height: 100px;
    line-height: 97px;
    background-color:darkcyan;
    text-align: center;
}

#header #header-text, #main-right #right-text{
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
}

#main-left {
    float: left;
    width: 65%;
    height: 415px;
    background-color:chartreuse;
}

#image-left, #image-bottom {
    height: 100%;
    width: 100%;
}

#main-right {
    float: right;
    width: 35%;
    height: 415px;
    line-height: 412px;
    background-color:darkgreen;
    text-align: center;
}

#footer {
    width: 100%;
    height: 200px;
    background-color: deeppink;
    clear: both;
}